@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

$text: #9d9c9c;

body {
  font-family: 'Cabin', sans-serif;
}

.logo {
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: $text;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: $text;
}

p {
  font-size: 1rem;
  color: $text;
}
